@model IEnumerable<VolunteerRegistration.Models.Event>

@{
    ViewData["Title"] = "Lista wydarzeń";
}

<h2>@ViewData["Title"]</h2>


<p style="text-align: right;">
  
    <a asp-action="Create" class="btn btn-primary">Dodaj wydarzenie</a>
</p>


<form asp-action="Index" method="get" class="mb-3 d-flex">
    <input type="text" name="organizer" value="@ViewData["CurrentFilter"]" class="form-control me-2" placeholder="Filtruj po organizatorze" />
    <button type="submit" class="btn btn-outline-primary">Szukaj</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Data</th>
            <th>Lokalizacja</th>
            <th>Organizator</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
        {
            <tr>
                <td>@ev.EventName</td>
                <td>@ev.Description</td>
                <td>@ev.EventDate.ToString("dd.MM.yyyy")</td>
                <td>@ev.Location</td>
                <td>
                    @(ev.EventOrganizers.FirstOrDefault()?.Organizer?.Name ?? "Brak")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@ev.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@ev.Id">Usuń</a> |
                    <a asp-action="Volunteers" asp-route-id="@ev.Id">Zapisani</a>
                </td>
            </tr>
        }
    </tbody>
</table>
